@import "../_Settings";

NavBar {
    height: 100%;
    width: 100%;

    & > Stack {
        height: calc("Container");
    }

    #BodyScrollerWrapper {
        height: calc("Container");
    }

    #BodyScroller {
        background: white;
        height: 100%;
        width: 100%;

        & > #Body {
            padding: 10px;
        }
    }
}

NavigationBar {
    background: $primary-color;

    #NavBarContent {
        height: 64px;

        #Left, #Right {
            height: 100%;
            width: 50%;

            & > * {
                height: 100%;
                padding: 12px;
            }
        }

        #Right {
            left: 50%;
        }

        #Menu {
            background: url("Images/Icons/Menu.png");
        }

        & > #Title {
            height: 100%;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            width: 100%;
        }

        TextView {
            color: #fff;
        }
    }
}
