@import "../_Settings";

Tabs {
    border-top: 1px solid $grey;
    background: $very-light-grey;
    height: 54px;
    position:absolute;
}

Tab {
    opacity: 0.5;
    padding-top: 9px;
    padding-bottom: 9px;

    #IconView {
        background-position: center;
        height: 22px;
        width: 100%;
    }

    #Label {
        font-size: 11px;
        width: 100%;
        text-align: center;
    }

    &:active{opacity:1}
}
