NavBar { height: 100%; width: 100%; }

NavBar > Stack { height: calc("Container"); }

NavBar #BodyScrollerWrapper { height: calc("Container"); }

NavBar #BodyScroller { background: white; height: 100%; width: 100%; }

NavBar #BodyScroller > #Body { padding: 10px; }

NavigationBar { height: 64px; background: #ed1459; padding: 10px; }

NavigationBar > * { height: 100%; }

NavigationBar > #Left { width: 50%; }

NavigationBar > #Left > * { height: 100%; padding: 7px; }

NavigationBar > #Left #Menu { background: url("Images/Icons/Menu.png"); }

NavigationBar > #Right { width: 50%; left: 50%; }

NavigationBar > #Title { font-size: 18px; font-weight: bold; text-align: center; width: 100%; }

NavigationBar TextView { color: #fff; }

Tabs { border-top: 1px solid #C8C8C8; background: #e6e6e6; height: 54px; position: absolute; }

Tab { opacity: 0.5; padding-top: 9px; padding-bottom: 9px; }

Tab #IconView { background-position: center; height: 22px; width: 100%; }

Tab #Label { font-size: 11px; width: 100%; text-align: center; }

Tab:active { opacity: 1; }

PopUp { width: 100%; height: 100%; padding: 0 20px; }

#PopupOverlay, #WaitingOverlay { width: 100%; height: 100%; position: absolute; opacity: 0.35; background: black; }

Dialog { margin-top: 150px; background: white; padding: 15px; }

Dialog > #Title { text-align: center; font-size: 16px; margin-bottom: 10px; font-weight: bold; }

Dialog > #ButtonsRow { margin-top: 30px; }

Prompt #Description { white-space: pre-wrap; }

Prompt #Input { margin-top: 10px; margin-bottom: 10px; }

AlertDialog #Message { text-align: center; margin-top: 10px; }

Toast { background: black; border-radius: 7px; margin: 20px; padding: 20px; }

Toast #OKButton { height: auto; width: 50px; }

Toast #Label { color: #fff; }

#WaitingOverlay { opacity: 0.15; }

.wait-spinner { height: 60px; border-radius: 30px; }

.wait-spinner ImageView { height: 100%; }

TextInput { padding: 7px; border: 1px solid #eee; }

TextInput:skeleton { color: #C8C8C8; }

Button { padding: 5px; }

CheckBox { width: 24px; height: 24px; border: 1px solid #aaaaaa; border-radius: 12px; background: transparent; }

CheckBox:checked { background-color: #ed1459; }

CheckBox > #CheckedImage { width: 100%; height: 100%; background-image: url(Images/Icons/Check.png); background-size: contain; padding: 2px; }

SearchInput > #Icon { background-image: url(Images/Icons/Search.png); opacity: 0.3; padding: 8px; }

SearchInput > #TextBox { text-align: center; }

SearchInput > #CancelButton { border: 0; height: 100%; left: 100%; white-space: nowrap; padding: 0; opacity: 0; }

SearchInput:focus > #TextBox { text-align: left; padding-left: 30px; }

SearchInput:focus > #CancelButton { opacity: 1; }

Switch { width: 56px; height: 32px; }

Switch #Bar { height: 32px; border-radius: 16px; }

Switch #Toggle { height: 28px; width: 28px; border-radius: 14px; background: white; margin: 2px; }

/*VideoPlayer { width: 100%; height: 100%; background: #ddd; }*/
/*Slider { height: 40px;
    #RangeBar { height: 2px; background: black; }
    #Handle, #UpHandle { height: 25px; width: 25px; border-radius: 12px; margin-bottom: 15px; }
    #Caption, #UpCaption { text-align: center; }
}*/
/*FilePicker { height: 35px;
    & > #Button { text-align: left; height: 100%; }
    & > #Preview { width: 35px; height: 35px; background-size: cover; }
}*/
Grid > #EmptyTextLabel, ListView > #EmptyTextLabel { text-align: center; }

ListViewItem { border-top: 1px; }

/*Carousel {
    #BulletsContainer { text-align: center; }
    Carousel-Bullet { border-radius: 8px; width: 16px; height: 16px; margin: 3px; }
    Carousel-Slide { height: 100%; }
}*/
#RefreshingIndicator { width: 50px; height: 50px; background: url(Images/Icons/Spinner.png); }

DatePicker-Cell, TimePicker-Cell { height: 50px; width: 100%; }

DatePicker-Cell #Label, TimePicker-Cell #Label { height: 100%; width: 100%; text-align: center; font-size: 16px; }

DatePicker-Dialog #RotatorsRow, TimePicker-Dialog #RotatorsRow { margin-top: 15px; }

Picker { padding: 7px; border: 1px solid #eee; }

Picker #Label { height: 100%; }

Picker #Caret { background: url(Images/Icons/Caret.png); width: 20px; }

Picker #PlaceholderLabel { color: #ddd; height: 100%; }

TextView.title { font-weight: bold; font-size: 28px; text-align: center; margin-bottom: 20px; }

Button { border-radius: 10px; background: #f0f0f0; margin: 10px; padding: 10px; }
