@import "_Core";
@import "_Utilities";

Spinner {
    margin-left: calc("view.Width, view.Parent.Width, (vw, pw) => (pw - vw) / 2");

    > ImageView {
        margin: 0;
    }

    &.small {
        background-color: #fff;
        width: 60px;
        height: 60px;
        border-radius: 50px;
    }
}

ImageView.logo {
    width: 150px;
    height: 150px;
}

TextView.title {
    color: $heading-text-color;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

TextView.sub-title {
    font-size: 18px;
}

TextView.separator {
    margin-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px #f0f0f0;
}

Button {
    border-radius: 10px;
    background: #f0f0f0;
    padding: 10px;
}

ActionButton {
    height: 56px;

    Column {
        padding: 10px;
    }

    TextView.primary {
        font-size: 16px;
        color: $heading-text-color;
    }

    TextView.secondary {
        font-size: 14px;
    }
}
