@import "_Core";
@import "_Utilities";

ImageView.logo {
    width: 150px;
    height: 150px;
}

TextView.title {
    color: $heading-text-color;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

TextView.sub-title {
    font-size: 18px;
}

TextView.separator {
    margin-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px #f0f0f0;
}

Stack.input-wrapper {
    padding: 2px;
    padding-bottom: 1px;
    background-color: #fff;
    border-radius: $input-border-radius;
}

Button.lg {
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
}

Button.primary {
    background-color: $button-text-color;
    color: $button-bg-color;
}

ActionButton.primary {
    background-color: $button-text-color;

    TextView.primary {
        color: $button-bg-color;
    }

    TextView.secondary {
        color: $button-light-text-color;
    }
}
