@import "_Settings";
@import "_Core";

ImageView.logo {
    width: 150px;
    height: 160px;
}

TextView.title {
    font-weight: bold;
    font-size: 28px;
    text-align: center;
}

TextView.sub-title {
    font-size: 18px;
}

TextView.separator {
    margin-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px #f0f0f0;
}

Button.primary {
    background-color: $button-text-color;
    color: $button-bg-color;
}

ActionButton.primary {
    background-color: $button-text-color;

    TextView.primary {
        color: $button-bg-color;
    }

    TextView.secondary {
        color: $button-light-text-color;
    }
}